
//主颜色
$theme-color-dark:          #4C67EA;
$theme-color-light:         #819FF5;

//文字颜色
$theme-font-color:          #4f69eb;
$font-color:                #1e1e1e;                
$hint-font-color:           #666666;                

// 按钮灰色
$gray-dark:                 #666666;
$gray-light:                #969696;